@model MVC_LayoutPartialView.Models.ComentarioModelView;

@{
    Layout = "~/Views/Shared/_VentajaDesventajaLayout.cshtml";
}

@*Ventajas de paneles solares*@
@section Ventajas {
    <h2>Ventajas de Paneles Solares</h2>
    <li>Ventaja</li>
    <li>Ventaja</li>
    <li>Ventaja</li>
    <li>Ventaja</li>

}

@*Desventajas de paneles solares*@
@section Desventajas {
    <h2>Desventajas de Paneles Solares</h2>
    <li>Desventaja</li>
    <li>Desventaja</li>
    <li>Desventaja</li>
    <li>Desventaja</li>
    <li>Desventaja</li>
}

<h1>Paneles solares</h1>
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>


@section ComentarFormulario {
    <form asp-action="PanelSolaresComentar" asp-controller="VentajasDesventajas" method="post">

        <label asp-for="CommentText">Comentario</label>
        <input type="text" asp-for="CommentText"/> 
        <span asp-validation-for="CommentText" class="text-danger"></span>


        <input type="submit" value="Guardar"/>
    </form>
}





