@{
    ViewData["Title"] = "Home Page";
}


<!--Break points con rows y cols en bootstrap-->
<div class="row">   
    <div class="col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid d-block mx-auto mx-md-0" src="https://i.scdn.co/image/ab67616d00001e02cfeae645958e9248abff0710" alt="pikachu" />
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid  d-block mx-auto mx-md-0" src="https://i.scdn.co/image/ab67616d00001e02cfeae645958e9248abff0710" alt="pikachu" />
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid  d-block mx-auto mx-md-0" src="https://i.scdn.co/image/ab67616d00001e02cfeae645958e9248abff0710" alt="pikachu" />
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
        <img class="img-fluid  d-block mx-auto mx-md-0" src="https://i.scdn.co/image/ab67616d00001e02cfeae645958e9248abff0710" alt="pikachu" />
    </div>
</div>
