﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluacion PW3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_PracticaParcialUno.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class=" bg-success text-white border-bottom box-shadow mb-3 py-3">
            <a asp-controller="Presentacion" asp-action="Bienvenido" class="text-center fs-4 d-block text-white text-decoration-none d-block">UNLAM - Practica Parcial de Programacion Web III</a>
        </nav>
    </header>
    <div class="container" style="height:80vh">
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex flex-column align-items-center pt-4 pb-0">
            <p>Alan Aruquipa</p>
            <p>45323639</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>