<h1 class="fs-1 text-center fw-light">Bienvenido al sitio de evaluacion</h1>

<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <a asp-controller="Principal" asp-action="CalculadoraSumar" class="fs-4 fw-semibold btn btn-success text-white text-decoration-none">Ir a Calculadora de Sumas</a>
    <a asp-controller="Principal" asp-action="CalculadoraRestar" class="fs-4 fw-semibold btn btn-success text-white text-decoration-none">Ir a Calculadora de Restas</a>
</div>